/** {
    border: rgb(255, 0, 0) 1px solid;
}*/

:root {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    /*color:red;*/
    justify-content: center;
    background-color: black;

}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}


.mainIndex{
    display:flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('assets/home.png');
    mask-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    
    

} 
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headerBiography {
    display:flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.navBiography {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 40px;
    height: 100vh;
}

.mainBiography {
    background-image: url(assets/foto_biography.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    color:whitesmoke;
    padding: 40px;
   
}
.sectionBiography{
    height: 90vh;
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    
}
a {
    text-decoration: none;
    padding: 20px 32px;
    font-size: 1.1rem;
    color:red;
}

a:hover {
    font-weight: bold;
}



p {
    line-height: 24px;
    font-size: 1.1rem;
}

.sectionVideos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.video {

    text-align: center;
    background-color: black;
    width:100%;
}

.videoText {
    min-width: 565px;
    font-size: 1rem;
    
}

.verMas {
    text-align: left;
    justify-content: end;
    font-weight: bold;
    padding:40px;
}






